<header>
    <% if (typeof user !== 'undefined') {%>
    <h1>Hello, <%= user.email%></h1>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <a href="/urls">My Links</a>
    <a href="/urls/new">Create a new link</a>
    <%  } else {%>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% }%>
</header>